@charset "UTF-8";
.full-width {
  width: 100%;
}

h3.no-margin-top {
  margin-top: 0;
}

.holler-spinner-wrap {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.holler-spinner-wrap object.holler-spinner {
  max-width: 150px;
}

.align-center-space-between {
  display: flex !important;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.align-center-space-between.align-top {
  align-items: flex-start;
}

.align-right-space-between {
  display: flex !important;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}
.align-right-space-between.align-top {
  align-items: flex-start;
}

.align-left-space-between {
  display: flex !important;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}
.align-left-space-between.align-top {
  align-items: flex-start;
}

.display-flex {
  display: flex;
}
.display-flex.flex-end {
  justify-content: flex-end;
}
.display-flex.flex-start {
  justify-content: flex-start;
}
.display-flex.center {
  justify-content: center;
}
.display-flex.space-between {
  justify-content: space-between !important;
}
.display-flex.stretch {
  align-items: stretch;
}
.display-flex.gap-10 {
  gap: 10px;
}
.display-flex.gap-20 {
  gap: 20px;
}
.display-flex.align-center {
  align-items: center;
}
.display-flex.align-top {
  align-items: flex-start;
}
.display-flex.align-bottom {
  align-items: flex-end;
}
.display-flex.column {
  flex-direction: column;
}

.property-groups {
  min-width: 360px;
}
.property-groups .property-group:not(:first-child) {
  margin-top: 20px;
}
.property-groups .property-group .property-group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.property-groups .property-group .property-group-header h3 {
  margin-top: 0;
  font-size: 16px;
}
.property-groups .property-group .property-group-header .property-group-more {
  visibility: hidden;
}
.property-groups .property-group:hover .property-group-more {
  visibility: visible;
}
.property-groups .property-group-fields {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.property-groups .property-group-fields .property-field {
  max-width: 100%;
}
.property-groups .property-group-fields .property-field.col-width-1 {
  grid-column: 1/3;
}
.property-groups .property-group-fields .property-field .property-label {
  font-weight: 500;
  display: block;
}
.property-groups .property-group-fields .property-field .checkbox-label {
  font-weight: 400 !important;
  display: block;
}
.property-groups .property-group-fields .property-field input, .property-groups .property-group-fields .property-field select, .property-groups .property-group-fields .property-field textarea {
  max-width: 100%;
}

#search-results {
  width: 440px;
  height: 500px;
  overflow-y: auto;
}
#search-results img {
  width: 25px;
  border-radius: 4px;
}
#search-results table {
  border-collapse: collapse;
  width: 100%;
}
#search-results th, #search-results td {
  text-align: left;
  padding: 8px;
}
#search-results th:first-child, #search-results td:first-child {
  padding-left: 20px;
}
#search-results tr:nth-child(even) {
  background-color: rgba(16, 38, 64, 0.05);
}
#search-results tr {
  cursor: pointer;
}
#search-results tr:hover {
  background-color: rgba(0, 117, 255, 0.02);
}

h2.nav-tab-wrapper.gh {
  border-bottom: 0;
  padding-top: 0;
}
h2.nav-tab-wrapper.gh .nav-tab {
  border-radius: 3px 3px 0 0;
  border: none;
  margin-left: 0;
  margin-right: 5px;
}
h2.nav-tab-wrapper.gh .nav-tab.nav-tab-active {
  border: none;
  background-color: #FFFFFF;
}
h2.nav-tab-wrapper.gh button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 3px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 4px 0;
}
h2.nav-tab-wrapper.gh button:hover {
  background-color: rgba(16, 38, 64, 0.05);
}
h2.nav-tab-wrapper.gh button .dashicons {
  margin: 0;
}

.notes-widget .notes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notes-widget .notes-header h3 {
  font-size: 14px;
  margin: 0;
}
.notes-widget #note-type {
  width: fit-content;
}
.notes-widget .note {
  border-top: 1px solid rgba(16, 38, 64, 0.1);
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  width: 100%;
  gap: 20px;
}
.notes-widget .note > .icon {
  width: 25px;
  padding-top: 10px;
}
.notes-widget .note .note-header {
  width: 100%;
  display: flex;
  font-weight: 500;
  color: rgba(16, 38, 64, 0.3);
  align-items: center;
  justify-content: space-between;
}
.notes-widget .note .note-content img {
  max-width: 100%;
  height: auto !important;
}
.notes-widget .note .note-content p {
  margin-top: 0;
}
.notes-widget .note .note-content ul {
  list-style: disc;
  margin-left: 2em;
}
.notes-widget .edit-note .actions,
.notes-widget .add-note .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

input.invalid, input:invalid {
  border-color: #e91f4f;
}
input.invalid:focus, input:invalid:focus {
  border-color: #e91f4f;
  box-shadow: 0 0 0 1px #e91f4f;
  outline: 2px solid transparent;
}

body .select2-dropdown {
  z-index: 10001;
}
body.modal-open .select2-dropdown, body.groundhogg-toolbar-quick-search-open .select2-dropdown {
  z-index: 999999;
}

.holler-header {
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);
  align-items: center;
  background: #FFFFFF;
  padding: 8px 12px;
  min-height: 60px;
  box-sizing: border-box;
}
.holler-header.is-sticky {
  position: sticky;
  top: 32px;
  z-index: 10000;
}
.holler-header .title-wrap h1.breadcrumbs {
  line-height: 1;
  margin: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.6em;
  white-space: nowrap;
}
.holler-header .title-wrap h1.breadcrumbs .sep,
.holler-header .title-wrap h1.breadcrumbs .base {
  font-weight: 400;
  cursor: pointer;
}
.holler-header .title-wrap h1.breadcrumbs .part {
  font-weight: 500;
}
.holler-header .title-wrap h1.breadcrumbs .dashicons {
  color: rgba(16, 38, 64, 0.3);
}

a.action-link {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.pill {
  background: rgba(0, 117, 255, 0.07);
  border-radius: 5px;
  display: inline-block;
  padding: 3px 8px;
  color: #102640;
}
.pill.yellow {
  background: rgba(255, 238, 88, 0.5);
  color: #3f3800;
}
.pill.orange {
  background: rgba(245, 129, 21, 0.25);
  color: #542a04;
}
.pill.blue {
  background: rgba(0, 117, 255, 0.5);
}
.pill.green {
  background: rgba(158, 206, 56, 0.5);
  color: #334310;
}
.pill.red {
  background: rgba(233, 31, 79, 0.5);
  color: #4e0818;
}
.pill.sm {
  font-size: 13px;
}

svg.danger,
p.holler-text.danger,
span.holler-text.danger {
  color: #e91f4f;
}
svg.warning,
p.holler-text.warning,
span.holler-text.warning {
  color: #f58115;
}
svg.green,
p.holler-text.green,
span.holler-text.green {
  color: #9ece38;
}
svg.md,
p.holler-text.md,
span.holler-text.md {
  font-size: 15px;
}
svg.sm,
p.holler-text.sm,
span.holler-text.sm {
  font-size: 13px;
}
svg.lg,
p.holler-text.lg,
span.holler-text.lg {
  font-size: 18px;
}

.avatars img.avatar {
  width: 20px;
  border-radius: 50%;
}
.avatars img.avatar:not(:first-child) {
  margin-left: -3px;
}

.holler-panel {
  background: #FFFFFF;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
  /*margin: 20px;*/
  border-radius: 5px;
  border: none;
}
.holler-panel a {
  text-decoration: none;
}
.holler-panel a:hover {
  text-decoration: underline;
}
.holler-panel.outlined {
  box-shadow: none;
  border: 1px solid rgba(16, 38, 64, 0.15);
}
.holler-panel.outlined:not(:last-child) {
  margin-bottom: 10px;
}
.holler-panel.top-left-square {
  border-top-left-radius: 0;
}
.holler-panel .holler-panel-header {
  border-bottom: 1px solid rgba(16, 38, 64, 0.1);
  display: flex;
  justify-content: space-between;
}
.holler-panel .holler-panel-header h2 {
  justify-content: left;
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
}
.holler-panel .holler-panel-header h2 .dashicons {
  font-size: 14px;
  height: 14px;
  width: 14px;
  margin-right: 10px;
}
.holler-panel .holler-panel-header button.panel-handle-order-higher,
.holler-panel .holler-panel-header button.panel-handle-order-lower,
.holler-panel .holler-panel-header button.toggle-indicator {
  background: transparent;
  border: none;
}
.holler-panel .holler-panel-header button.panel-handle-order-higher:hover,
.holler-panel .holler-panel-header button.panel-handle-order-lower:hover,
.holler-panel .holler-panel-header button.toggle-indicator:hover {
  background: rgba(16, 38, 64, 0.05);
}
.holler-panel .holler-panel-header button.panel-handle-order-higher:focus,
.holler-panel .holler-panel-header button.panel-handle-order-lower:focus,
.holler-panel .holler-panel-header button.toggle-indicator:focus {
  box-shadow: 0 0 0 1px #0075ff, 0 0 2px 1px rgba(0, 117, 255, 0.6);
  outline: 1px solid transparent;
}
.holler-panel .holler-panel-header button.panel-handle-order-higher::before,
.holler-panel .holler-panel-header button.panel-handle-order-lower::before,
.holler-panel .holler-panel-header button.toggle-indicator::before {
  display: inline-block;
  font: normal 20px/1 dashicons;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
.holler-panel .holler-panel-header button.toggle-indicator {
  border-top-right-radius: 5px;
}
.holler-panel .holler-panel-header button.toggle-indicator::before {
  content: "";
}
.holler-panel .holler-panel-header button.panel-handle-order-lower::before {
  content: "";
}
.holler-panel .holler-panel-header button.panel-handle-order-higher::before {
  content: "";
}
.holler-panel.closed .holler-panel-header {
  border-bottom: none;
}
.holler-panel.closed .holler-panel-header button.toggle-indicator::before {
  content: "";
}
.holler-panel .inside {
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.holler-panel .inside p:first-child {
  margin-top: 0;
}
.holler-panel .inside.no-padding {
  padding: 0;
}

.wp-core-ui select {
  vertical-align: initial;
}
.wp-core-ui button.button.has-dashicon {
  display: flex;
  align-items: center;
  gap: 5px;
}

a.holler-button {
  display: inline-block;
  line-height: 1.3;
}

@keyframes holler-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
a,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
a.dashicon-button,
input[type=button].dashicon-button,
input[type=submit].dashicon-button,
button.dashicon-button {
  border: none;
  background: none;
  opacity: 0.8;
}
a.dashicon-button:hover,
input[type=button].dashicon-button:hover,
input[type=submit].dashicon-button:hover,
button.dashicon-button:hover {
  opacity: 1;
}
a.dashicon-button:disabled,
input[type=button].dashicon-button:disabled,
input[type=submit].dashicon-button:disabled,
button.dashicon-button:disabled {
  opacity: 0.5;
  cursor: initial;
}
a.holler-button, a.holler-submit,
input[type=button].holler-button,
input[type=button].holler-submit,
input[type=submit].holler-button,
input[type=submit].holler-submit,
button.holler-button,
button.holler-submit {
  text-decoration: none;
  white-space: nowrap;
  border: none;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 400;
}
a.holler-button:hover, a.holler-submit:hover,
input[type=button].holler-button:hover,
input[type=button].holler-submit:hover,
input[type=submit].holler-button:hover,
input[type=submit].holler-submit:hover,
button.holler-button:hover,
button.holler-submit:hover {
  text-decoration: none;
}
a.holler-button:disabled, a.holler-submit:disabled,
input[type=button].holler-button:disabled,
input[type=button].holler-submit:disabled,
input[type=submit].holler-button:disabled,
input[type=submit].holler-submit:disabled,
button.holler-button:disabled,
button.holler-submit:disabled {
  opacity: 0.5;
  cursor: initial;
}
a.holler-button.dropdown, a.holler-submit.dropdown,
input[type=button].holler-button.dropdown,
input[type=button].holler-submit.dropdown,
input[type=submit].holler-button.dropdown,
input[type=submit].holler-submit.dropdown,
button.holler-button.dropdown,
button.holler-submit.dropdown {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid rgba(16, 38, 64, 0.5);
  background: #FFFFFF;
  color: #102640;
  padding: 5px 10px;
}
a.holler-button.dropdown::after, a.holler-submit.dropdown::after,
input[type=button].holler-button.dropdown::after,
input[type=button].holler-submit.dropdown::after,
input[type=submit].holler-button.dropdown::after,
input[type=submit].holler-submit.dropdown::after,
button.holler-button.dropdown::after,
button.holler-submit.dropdown::after {
  content: "";
  display: inline-block;
  font: normal 20px/1 dashicons;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
a.holler-button.no-border, a.holler-submit.no-border,
input[type=button].holler-button.no-border,
input[type=button].holler-submit.no-border,
input[type=submit].holler-button.no-border,
input[type=submit].holler-submit.no-border,
button.holler-button.no-border,
button.holler-submit.no-border {
  border: none !important;
}
a.holler-button.action, a.holler-submit.action,
input[type=button].holler-button.action,
input[type=button].holler-submit.action,
input[type=submit].holler-button.action,
input[type=submit].holler-submit.action,
button.holler-button.action,
button.holler-submit.action {
  background: #9ece38;
}
a.holler-button.action:hover:not(:disabled), a.holler-submit.action:hover:not(:disabled),
input[type=button].holler-button.action:hover:not(:disabled),
input[type=button].holler-submit.action:hover:not(:disabled),
input[type=submit].holler-button.action:hover:not(:disabled),
input[type=submit].holler-submit.action:hover:not(:disabled),
button.holler-button.action:hover:not(:disabled),
button.holler-submit.action:hover:not(:disabled) {
  background: #80a92a;
}
a.holler-button#gh-submit, a.holler-button.primary, a.holler-submit#gh-submit, a.holler-submit.primary,
input[type=button].holler-button#gh-submit,
input[type=button].holler-button.primary,
input[type=button].holler-submit#gh-submit,
input[type=button].holler-submit.primary,
input[type=submit].holler-button#gh-submit,
input[type=submit].holler-button.primary,
input[type=submit].holler-submit#gh-submit,
input[type=submit].holler-submit.primary,
button.holler-button#gh-submit,
button.holler-button.primary,
button.holler-submit#gh-submit,
button.holler-submit.primary {
  background: #0075ff;
}
a.holler-button#gh-submit.text, a.holler-button.primary.text, a.holler-submit#gh-submit.text, a.holler-submit.primary.text,
input[type=button].holler-button#gh-submit.text,
input[type=button].holler-button.primary.text,
input[type=button].holler-submit#gh-submit.text,
input[type=button].holler-submit.primary.text,
input[type=submit].holler-button#gh-submit.text,
input[type=submit].holler-button.primary.text,
input[type=submit].holler-submit#gh-submit.text,
input[type=submit].holler-submit.primary.text,
button.holler-button#gh-submit.text,
button.holler-button.primary.text,
button.holler-submit#gh-submit.text,
button.holler-submit.primary.text {
  background-color: transparent;
  color: #0075ff;
}
a.holler-button#gh-submit:hover:not(:disabled), a.holler-button.primary:hover:not(:disabled), a.holler-submit#gh-submit:hover:not(:disabled), a.holler-submit.primary:hover:not(:disabled),
input[type=button].holler-button#gh-submit:hover:not(:disabled),
input[type=button].holler-button.primary:hover:not(:disabled),
input[type=button].holler-submit#gh-submit:hover:not(:disabled),
input[type=button].holler-submit.primary:hover:not(:disabled),
input[type=submit].holler-button#gh-submit:hover:not(:disabled),
input[type=submit].holler-button.primary:hover:not(:disabled),
input[type=submit].holler-submit#gh-submit:hover:not(:disabled),
input[type=submit].holler-submit.primary:hover:not(:disabled),
button.holler-button#gh-submit:hover:not(:disabled),
button.holler-button.primary:hover:not(:disabled),
button.holler-submit#gh-submit:hover:not(:disabled),
button.holler-submit.primary:hover:not(:disabled) {
  background: #005ecc;
}
a.holler-button#gh-submit:hover:not(:disabled).text, a.holler-button.primary:hover:not(:disabled).text, a.holler-submit#gh-submit:hover:not(:disabled).text, a.holler-submit.primary:hover:not(:disabled).text,
input[type=button].holler-button#gh-submit:hover:not(:disabled).text,
input[type=button].holler-button.primary:hover:not(:disabled).text,
input[type=button].holler-submit#gh-submit:hover:not(:disabled).text,
input[type=button].holler-submit.primary:hover:not(:disabled).text,
input[type=submit].holler-button#gh-submit:hover:not(:disabled).text,
input[type=submit].holler-button.primary:hover:not(:disabled).text,
input[type=submit].holler-submit#gh-submit:hover:not(:disabled).text,
input[type=submit].holler-submit.primary:hover:not(:disabled).text,
button.holler-button#gh-submit:hover:not(:disabled).text,
button.holler-button.primary:hover:not(:disabled).text,
button.holler-submit#gh-submit:hover:not(:disabled).text,
button.holler-submit.primary:hover:not(:disabled).text {
  background-color: rgba(0, 117, 255, 0.1);
  color: #0075ff;
}
a.holler-button.secondary, a.holler-submit.secondary,
input[type=button].holler-button.secondary,
input[type=button].holler-submit.secondary,
input[type=submit].holler-button.secondary,
input[type=submit].holler-submit.secondary,
button.holler-button.secondary,
button.holler-submit.secondary {
  border: 1px solid rgba(0, 117, 255, 0.6);
  background: #FFFFFF;
  color: #0075ff;
  padding: 5px 10px;
}
a.holler-button.secondary.text, a.holler-submit.secondary.text,
input[type=button].holler-button.secondary.text,
input[type=button].holler-submit.secondary.text,
input[type=submit].holler-button.secondary.text,
input[type=submit].holler-submit.secondary.text,
button.holler-button.secondary.text,
button.holler-submit.secondary.text {
  border: none;
  background: transparent;
  color: #102640;
}
a.holler-button.secondary:hover:not(:disabled), a.holler-submit.secondary:hover:not(:disabled),
input[type=button].holler-button.secondary:hover:not(:disabled),
input[type=button].holler-submit.secondary:hover:not(:disabled),
input[type=submit].holler-button.secondary:hover:not(:disabled),
input[type=submit].holler-submit.secondary:hover:not(:disabled),
button.holler-button.secondary:hover:not(:disabled),
button.holler-submit.secondary:hover:not(:disabled) {
  color: #005ecc;
  border-color: #0075ff;
  background-color: rgba(0, 117, 255, 0.02);
}
a.holler-button.secondary:hover:not(:disabled).text, a.holler-submit.secondary:hover:not(:disabled).text,
input[type=button].holler-button.secondary:hover:not(:disabled).text,
input[type=button].holler-submit.secondary:hover:not(:disabled).text,
input[type=submit].holler-button.secondary:hover:not(:disabled).text,
input[type=submit].holler-submit.secondary:hover:not(:disabled).text,
button.holler-button.secondary:hover:not(:disabled).text,
button.holler-submit.secondary:hover:not(:disabled).text {
  border: none;
  background: rgba(16, 38, 64, 0.1);
  color: #102640;
}
a.holler-button.danger, a.holler-submit.danger,
input[type=button].holler-button.danger,
input[type=button].holler-submit.danger,
input[type=submit].holler-button.danger,
input[type=submit].holler-submit.danger,
button.holler-button.danger,
button.holler-submit.danger {
  background: #e91f4f;
}
a.holler-button.danger.text, a.holler-submit.danger.text,
input[type=button].holler-button.danger.text,
input[type=button].holler-submit.danger.text,
input[type=submit].holler-button.danger.text,
input[type=submit].holler-submit.danger.text,
button.holler-button.danger.text,
button.holler-submit.danger.text {
  color: #e91f4f;
  background-color: transparent;
}
a.holler-button.danger:hover:not(:disabled), a.holler-submit.danger:hover:not(:disabled),
input[type=button].holler-button.danger:hover:not(:disabled),
input[type=button].holler-submit.danger:hover:not(:disabled),
input[type=submit].holler-button.danger:hover:not(:disabled),
input[type=submit].holler-submit.danger:hover:not(:disabled),
button.holler-button.danger:hover:not(:disabled),
button.holler-submit.danger:hover:not(:disabled) {
  background: #c2133d;
}
a.holler-button.danger:hover:not(:disabled).text, a.holler-submit.danger:hover:not(:disabled).text,
input[type=button].holler-button.danger:hover:not(:disabled).text,
input[type=button].holler-submit.danger:hover:not(:disabled).text,
input[type=submit].holler-button.danger:hover:not(:disabled).text,
input[type=submit].holler-submit.danger:hover:not(:disabled).text,
button.holler-button.danger:hover:not(:disabled).text,
button.holler-submit.danger:hover:not(:disabled).text {
  color: #e91f4f;
  background-color: rgba(233, 31, 79, 0.1);
}
a.holler-button.dashicon, a.holler-submit.dashicon,
input[type=button].holler-button.dashicon,
input[type=button].holler-submit.dashicon,
input[type=submit].holler-button.dashicon,
input[type=submit].holler-submit.dashicon,
button.holler-button.dashicon,
button.holler-submit.dashicon {
  border: 1px solid rgba(16, 38, 64, 0.5);
  color: #102640;
  background-color: #FFF;
  padding: 4px 5px;
}
a.holler-button.dashicon.filled, a.holler-submit.dashicon.filled,
input[type=button].holler-button.dashicon.filled,
input[type=button].holler-submit.dashicon.filled,
input[type=submit].holler-button.dashicon.filled,
input[type=submit].holler-submit.dashicon.filled,
button.holler-button.dashicon.filled,
button.holler-submit.dashicon.filled {
  background: rgba(16, 38, 64, 0.1);
}
a.holler-button.dashicon:hover, a.holler-submit.dashicon:hover,
input[type=button].holler-button.dashicon:hover,
input[type=button].holler-submit.dashicon:hover,
input[type=submit].holler-button.dashicon:hover,
input[type=submit].holler-submit.dashicon:hover,
button.holler-button.dashicon:hover,
button.holler-submit.dashicon:hover {
  background-color: rgba(16, 38, 64, 0.1);
}
a.holler-button.icon, a.holler-submit.icon,
input[type=button].holler-button.icon,
input[type=button].holler-submit.icon,
input[type=submit].holler-button.icon,
input[type=submit].holler-submit.icon,
button.holler-button.icon,
button.holler-submit.icon {
  padding: 7px;
  display: flex;
  align-items: center;
}
a.holler-button.icon svg, a.holler-submit.icon svg,
input[type=button].holler-button.icon svg,
input[type=button].holler-submit.icon svg,
input[type=submit].holler-button.icon svg,
input[type=submit].holler-submit.icon svg,
button.holler-button.icon svg,
button.holler-submit.icon svg {
  width: 20px;
  height: 20px;
}
a.holler-button.icon.small svg, a.holler-submit.icon.small svg,
input[type=button].holler-button.icon.small svg,
input[type=button].holler-submit.icon.small svg,
input[type=submit].holler-button.icon.small svg,
input[type=submit].holler-submit.icon.small svg,
button.holler-button.icon.small svg,
button.holler-submit.icon.small svg {
  width: 14px;
  height: 14px;
}
a.holler-button.big, a.holler-submit.big,
input[type=button].holler-button.big,
input[type=button].holler-submit.big,
input[type=submit].holler-button.big,
input[type=submit].holler-submit.big,
button.holler-button.big,
button.holler-submit.big {
  font-size: 24px;
  padding: 15px 32px;
}
a.holler-button.medium, a.holler-submit.medium,
input[type=button].holler-button.medium,
input[type=button].holler-submit.medium,
input[type=submit].holler-button.medium,
input[type=submit].holler-submit.medium,
button.holler-button.medium,
button.holler-submit.medium {
  font-size: 18px;
  padding: 11px 22px;
}
a.holler-button.small, a.holler-submit.small,
input[type=button].holler-button.small,
input[type=button].holler-submit.small,
input[type=submit].holler-button.small,
input[type=submit].holler-submit.small,
button.holler-button.small,
button.holler-submit.small {
  font-size: 14px;
  padding: 4px 6px;
}
a.holler-button.bold, a.holler-submit.bold,
input[type=button].holler-button.bold,
input[type=button].holler-submit.bold,
input[type=submit].holler-button.bold,
input[type=submit].holler-submit.bold,
button.holler-button.bold,
button.holler-submit.bold {
  font-weight: 700;
}
a.holler-button.loud, a.holler-submit.loud,
input[type=button].holler-button.loud,
input[type=button].holler-submit.loud,
input[type=submit].holler-button.loud,
input[type=submit].holler-submit.loud,
button.holler-button.loud,
button.holler-submit.loud {
  text-transform: uppercase;
}
a .holler-spinner,
input[type=button] .holler-spinner,
input[type=submit] .holler-spinner,
button .holler-spinner {
  display: block;
  height: 15px;
  width: 15px;
  border: 5px solid rgba(255, 255, 255, 0.4);
  border-bottom-color: #ffffff;
  border-radius: 50%;
  position: relative;
  animation: holler-rotation 1s linear infinite;
}

.holler-button-group {
  display: flex;
}
.holler-button-group button.holler-button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}
.holler-button-group button.holler-button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-options-widget-wrap {
  position: relative;
}
.search-options-widget-wrap .search-options-widget {
  position: absolute;
  z-index: 999;
  border: 1px solid #8c8f94;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(24, 45, 70, 0.05);
  min-width: 170px;
}
.search-options-widget-wrap .search-options-widget.fixed {
  z-index: 999999;
  position: fixed;
}
.search-options-widget-wrap .search-options-widget.mount-from-bottom {
  bottom: 0;
}
.search-options-widget-wrap .search-options-widget .header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #8c8f94;
  gap: 20px;
  margin-bottom: 0;
}
.search-options-widget-wrap .search-options-widget .header button.close {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}
.search-options-widget-wrap .search-options-widget .header button.close:hover {
  opacity: 1;
}
.search-options-widget-wrap .search-options-widget .search-options {
  padding: 5px 8px;
  max-height: 300px;
  overflow: auto;
}
.search-options-widget-wrap .search-options-widget .search-options.has-groups .option {
  padding-left: 10px;
}
.search-options-widget-wrap .search-options-widget .search-options .option-group {
  font-weight: 500;
}
.search-options-widget-wrap .search-options-widget .search-options .option {
  cursor: pointer;
  border-radius: 3px;
  padding: 2px 5px;
  margin: 0;
}
.search-options-widget-wrap .search-options-widget .search-options .option.focused, .search-options-widget-wrap .search-options-widget .search-options .option:hover {
  background: #0075ff;
  color: #FFFFFF;
}

.holler-dialog {
  position: fixed;
  top: -100px;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 0);
  margin: auto;
  padding: 10px 20px;
  box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);
  z-index: 9999999;
  border-radius: 5px;
}
.holler-dialog.holler-dialog-success {
  color: #FFFFFF;
  background-color: #9ece38;
}
.holler-dialog.holler-dialog-error {
  color: #FFFFFF;
  background-color: #e91f4f;
}
.holler-dialog.holler-dialog-warning {
  color: #FFFFFF;
  background-color: #f58115;
}
.holler-dialog.holler-dialog-info {
  color: #FFFFFF;
  background-color: #102640;
}

.holler-modal {
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 10000;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  box-sizing: border-box;
}
.holler-modal.send-email {
  bottom: 0;
  top: auto;
  right: 20px;
  left: auto;
  height: fit-content;
  width: 500px;
}
.holler-modal.send-email .holler-modal-dialog {
  height: fit-content;
  width: 100%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.holler-modal.send-email .holler-modal-dialog .holler-row {
  align-items: center;
}
.holler-modal.send-email .holler-modal-dialog .select2 select2-container, .holler-modal.send-email .holler-modal-dialog .select2 .select2-selection {
  border: none !important;
  outline: none !important;
}
.holler-modal.mini {
  right: auto;
  bottom: auto;
  width: fit-content;
}
.holler-modal.mini .holler-modal-dialog {
  padding: 22px;
}
.holler-modal h2 {
  margin-top: 0;
}
.holler-modal-overlay {
  position: fixed;
  background: rgba(16, 38, 64, 0.5);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.holler-modal-confirmation {
  width: 500px;
  padding: 30px;
}
.holler-modal-loading {
  width: 200px;
  border-radius: 30px;
  background: transparent !important;
}
.holler-modal-dialog {
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
  position: relative;
  padding: 30px;
  max-width: 80vw;
  max-height: calc(92vh - 64px);
  overflow: auto;
}
.holler-modal-dialog .holler-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 20px;
  border-radius: 5px 5px 0 0;
}
.holler-modal-dialog .holler-header.is-sticky {
  position: sticky;
}
.holler-modal-dialog .holler-header h3 {
  margin: 0;
}
.holler-modal-dialog.has-header {
  padding-top: 80px;
}
.holler-modal-dialog.overflow-visible {
  overflow: visible;
}
.holler-modal-dialog.no-padding {
  padding: 0;
}
.holler-modal-dialog.no-padding.has-header {
  padding-top: 50px;
}
.holler-modal-dialog-alert p {
  font-size: 18px;
  margin: 0;
  line-height: 1.6;
}
.holler-modal-dialog-alert p:first-child {
  margin-top: 0;
}
.holler-modal-dialog #search-form {
  padding: 30px 20px;
}
.holler-modal-dialog #search-form input {
  width: 100%;
}
.holler-modal-button-close-top {
  position: absolute;
  right: 3px;
  top: 5px;
  padding: 0;
}
.holler-modal-confirmation-buttons {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  justify-content: flex-end;
}
input.ui-autocomplete-input.focus-visible {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.ui-autocomplete {
  z-index: 1000000;
}

.holler-radio-group {
  display: flex;
  gap: 20px;
}

.holler-input-group,
.input-wrap {
  display: flex;
  justify-content: flex-start;
}
.holler-input-group input, .holler-input-group select, .holler-input-group textarea,
.input-wrap input,
.input-wrap select,
.input-wrap textarea {
  margin: 0;
}
.holler-input-group input.bigger, .holler-input-group select.bigger, .holler-input-group textarea.bigger,
.input-wrap input.bigger,
.input-wrap select.bigger,
.input-wrap textarea.bigger {
  flex-grow: 2;
}
.holler-input-group > *:not(:first-child),
.input-wrap > *:not(:first-child) {
  border-left: 0 !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.holler-input-group > *:not(:first-child) .select2-selection,
.input-wrap > *:not(:first-child) .select2-selection {
  border-left: 0 !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.holler-input-group > *:not(:last-child),
.input-wrap > *:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

p.error,
.commit-errors {
  color: #e91f4f;
}

.wp-editor-container textarea {
  width: 100%;
  box-shadow: none;
  font-family: Consolas, Monaco, monospace;
  font-size: 13px;
  padding: 10px;
  margin: 1px 0 0;
  line-height: 150%;
  border: 0;
  outline: 0;
  display: block;
  resize: vertical;
  box-sizing: border-box;
}

.holler-input-repeater {
  margin: 5px 0;
}
.holler-input-repeater .holler-input-repeater-row {
  display: flex;
}
.holler-input-repeater .holler-input-repeater-row select,
.holler-input-repeater .holler-input-repeater-row input {
  width: 100%;
  border-right: none;
  border-radius: 0;
  margin: 0;
  flex-grow: 1;
}
.holler-input-repeater .holler-input-repeater-row .input-wrap {
  width: 100%;
}
.holler-input-repeater .holler-input-repeater-row .input-wrap > select,
.holler-input-repeater .holler-input-repeater-row .input-wrap > input {
  border-radius: 0;
  border-right-width: 1px;
}
.holler-input-repeater .holler-input-repeater-row .input-wrap > button.replacements-picker-start {
  border-right-width: 0;
  border-radius: 0;
}
.holler-input-repeater .holler-input-repeater-row span.handle {
  border-bottom: 1px solid #8c8f94;
  border-radius: 0;
  padding: 6px;
  border-top-width: 0;
  background-color: #FFFFFF;
}
.holler-input-repeater .holler-input-repeater-row button {
  border: 1px solid #8c8f94;
  border-radius: 0;
  padding: 6px;
  border-top-width: 0;
}
.holler-input-repeater .holler-input-repeater-row:first-child > select:first-child,
.holler-input-repeater .holler-input-repeater-row:first-child > input:first-child {
  border-top-left-radius: 4px;
}
.holler-input-repeater .holler-input-repeater-row:first-child span.handle {
  border-top: 1px solid #8c8f94;
}
.holler-input-repeater .holler-input-repeater-row:first-child button {
  border-top-width: 1px;
}
.holler-input-repeater .holler-input-repeater-row:first-child > button {
  border-top-right-radius: 4px;
}
.holler-input-repeater .holler-input-repeater-row:not(:first-child) * {
  border-top-width: 0;
}
.holler-input-repeater .holler-input-repeater-row:nth-last-child(2) > select:first-child,
.holler-input-repeater .holler-input-repeater-row:nth-last-child(2) > input:first-child {
  border-bottom-left-radius: 4px;
}
.holler-input-repeater .holler-input-repeater-row-add {
  display: flex;
}
.holler-input-repeater .holler-input-repeater-row-add .spacer {
  width: 100%;
}
.holler-input-repeater .holler-input-repeater-row-add button {
  padding: 5px 6px;
  border: 1px solid #8c8f94;
  border-top: none;
  border-radius: 0 0 4px 4px;
}
.holler-input-repeater .holler-input-repeater-row-add:first-child button {
  border-top: 1px solid #8c8f94;
  border-radius: 4px 4px 4px 4px;
}

.holler-dropdown-menu {
  box-sizing: border-box;
  z-index: 10000;
  position: fixed;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);
  min-width: 120px;
  border-radius: 5px 0 5px 5px;
  border: 1px solid #8c8f94;
  padding: 5px;
  gap: 5px;
}
.holler-dropdown-menu * {
  box-sizing: border-box;
}
.holler-dropdown-menu-item {
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.holler-dropdown-menu-item:hover {
  background-color: rgba(16, 38, 64, 0.1);
  cursor: pointer;
}

.holler-step-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin-top: 10px;
  margin-bottom: 40px;
}
.holler-step-nav .holler-step-nav-join {
  width: 100%;
  border-top: 1px solid rgba(16, 38, 64, 0.5);
  border-bottom: none;
}
.holler-step-nav .holler-step-nav-step-num {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.holler-step-nav .holler-step-nav-step-num-label {
  position: absolute;
  bottom: -20px;
}
.holler-step-nav .holler-step-nav-step-num-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(16, 38, 64, 0.5);
  background-color: #FFF;
}
.holler-step-nav .holler-step-nav-step-num.current .holler-step-nav-step-num-label {
  color: #0075ff;
}
.holler-step-nav .holler-step-nav-step-num.current .holler-step-nav-step-num-circle {
  color: #FFFFFF;
  background-color: #0075ff;
  border-color: #0075ff;
  font-weight: 500;
}

.holler-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.holler-tags button.add-tag {
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
  background: none;
  border: none;
  cursor: pointer;
}
.holler-tags button.add-tag:hover {
  background-color: rgba(16, 38, 64, 0.05);
}
.holler-tags button.add-tag .dashicons {
  margin: 0;
}
.holler-tags span.holler-tag {
  background: #f2f2f2;
  padding: 3px 9px;
  gap: 5px;
  border-radius: 3px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.holler-tags span.holler-tag.remove {
  background: rgba(233, 31, 79, 0.5);
  color: #4e0818;
}
.holler-tags span.holler-tag.adding {
  background: rgba(158, 206, 56, 0.5);
  color: #334310;
}
.holler-tags span.holler-tag .dashicons {
  margin-right: -6px;
  cursor: pointer;
  border-radius: 3px;
}
.holler-tags span.holler-tag .dashicons:hover {
  background-color: rgba(16, 38, 64, 0.05);
}

.holler-rows-and-columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.holler-rows-and-columns label {
  display: inline-block;
  margin-bottom: 5px;
}
.holler-rows-and-columns label.block {
  display: block;
}
.holler-rows-and-columns .row,
.holler-rows-and-columns .holler-row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.holler-rows-and-columns .row .holler-col, .holler-rows-and-columns .row .holler-column, .holler-rows-and-columns .row .col, .holler-rows-and-columns .row .column,
.holler-rows-and-columns .holler-row .holler-col,
.holler-rows-and-columns .holler-row .holler-column,
.holler-rows-and-columns .holler-row .col,
.holler-rows-and-columns .holler-row .column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#select-email-preview {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  border: 1px solid rgba(16, 38, 64, 0.5);
}

#gh-send-broadcast-form #gh-broadcast-email-preview {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  border: 1px solid rgba(16, 38, 64, 0.5);
}
#gh-send-broadcast-form label {
  display: inline-block;
  margin-bottom: 5px;
}

.holler-progress-bar {
  min-width: 300px;
  background-color: rgba(0, 117, 255, 0.1);
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
}
.holler-progress-bar .holler-progress-bar-fill {
  box-sizing: border-box;
  width: 1px;
  background-color: #0075ff;
  padding: 8px;
  display: flex;
  align-items: center;
}
.holler-progress-bar .holler-progress-bar-fill .fill-amount {
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 10px;
}
.holler-progress-bar.complete {
  border-color: #9ece38;
}
.holler-progress-bar.complete .holler-progress-bar-fill {
  background-color: #9ece38;
}

.holler-has-tooltip {
  position: relative;
  box-sizing: border-box;
}
.holler-has-tooltip:hover .holler-tooltip {
  display: block;
}
.holler-has-tooltip .holler-tooltip {
  width: max-content;
  max-width: 250px;
  display: none;
  position: absolute;
  background-color: #102640;
  color: #FFFFFF;
  box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);
  z-index: 999999;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.holler-has-tooltip .holler-tooltip.right {
  left: calc(100% + 5px);
  top: 50%;
  transform: translate(0, -50%);
}
.holler-has-tooltip .holler-tooltip.right:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid #102640;
  border-bottom: 5px solid transparent;
  transform: translate(0, -50%);
  top: 50%;
  left: -5px;
}
.holler-has-tooltip .holler-tooltip.left {
  right: calc(100% + 5px);
  top: 50%;
  transform: translate(0, -50%);
}
.holler-has-tooltip .holler-tooltip.left:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid #102640;
  border-bottom: 5px solid transparent;
  transform: translate(0, -50%) rotate(180deg);
  top: 50%;
  right: -5px;
}
.holler-has-tooltip .holler-tooltip.top {
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translate(-50%, 0);
}
.holler-has-tooltip .holler-tooltip.top:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #102640;
  transform: translate(-50%, 0) rotate(180deg);
  bottom: -5px;
  left: 50%;
}
.holler-has-tooltip .holler-tooltip.bottom {
  top: calc(100% + 5px);
  left: 50%;
  transform: translate(-50%, 0);
}
.holler-has-tooltip .holler-tooltip.bottom:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #102640;
  transform: translate(-50%, 0);
  top: -5px;
  left: 50%;
}

.holler-input-inline-label {
  position: relative;
}
.holler-input-inline-label label {
  position: absolute;
  opacity: 0.5;
  display: inline-block;
  left: 6px;
  top: 6px;
}
.holler-input-inline-label input {
  padding-left: 60px;
}

.textarea-with-buttons {
  display: flex;
}
.textarea-with-buttons textarea {
  flex-grow: 1;
  border-top-right-radius: 0;
}
.textarea-with-buttons .buttons {
  display: flex;
  flex-direction: column;
}
.textarea-with-buttons .buttons button {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.textarea-with-buttons .buttons button:not(:first-child) {
  border-top-width: 0;
  border-top-right-radius: 0;
}
.textarea-with-buttons .buttons button:not(:last-child) {
  border-bottom-right-radius: 0;
}

.select2-step {
  display: flex;
  gap: 20px;
  align-items: center;
}
.select2-step svg {
  width: 25px;
  height: 25px;
}
.select2-step.benchmark svg {
  color: #f58115;
}
.select2-step.action svg {
  color: #9ece38;
}
.select2-step .step-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.select2-container .select2-selection--single {
  height: auto;
  min-height: 28px;
}

.contact-quick-edit {
  width: 500px;
}
.contact-quick-edit .holler-header img {
  border-radius: 5px;
}
.contact-quick-edit-fields {
  margin-top: 50px;
}

.holler-form-wrapper * {
  box-sizing: border-box;
}

ul.holler-form-errors {
  padding-left: 20px;
  margin: 0;
}

.holler-input {
  outline: none;
  width: 100%;
}

.holler-form-field {
  margin: 10px 0;
  white-space: normal;
}

.holler-form-wrapper label {
  cursor: pointer;
  vertical-align: baseline;
}

.holler-form-wrapper .holler-input {
  height: auto;
}

.holler-form-row {
  white-space: nowrap;
}

.holler-form-column {
  display: inline-block;
  float: left;
  clear: none;
  white-space: normal;
}

.holler-form-column {
  padding-right: 10px;
}

.holler-form-wrapper input[type=file].holler-file-uploader {
  width: 100%;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;
  background: #f1f1f1;
  border: 2px dashed #e5e5e5;
  text-align: center;
}

/*.holler-form-column:nth-last-child(2){*/
/*padding-right: 0;*/
/*}*/
.holler-form-edit-link {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 0.4s;
}

.holler-form-wrapper:hover .holler-form-edit-link {
  visibility: visible;
  background: #FFFFFF;
  opacity: 1;
  padding: 5px;
  transition: 0.4s;
}

.holler-form-column:last-child {
  padding-right: 0;
}

#gdpr-checkboxes-wrap label {
  display: block;
}

.holler-form-column.col-1-of-1 {
  width: 100%;
}

.holler-form-column.col-1-of-2 {
  width: 50%;
}

.holler-form-column.col-1-of-3 {
  width: 33.33%;
}

.holler-form-column.col-1-of-4 {
  width: 25%;
}

.holler-form-column.col-2-of-3 {
  width: 66.66%;
}

.holler-form-column.col-3-of-4 {
  width: 75%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .holler-form-row {
    white-space: normal;
  }

  .holler-form-column.col-1-of-1 {
    width: 100%;
  }

  .holler-form-column.col-1-of-2 {
    width: 100%;
  }

  .holler-form-column.col-1-of-3 {
    width: 100%;
  }

  .holler-form-column.col-1-of-4 {
    width: 100%;
  }

  .holler-form-column.col-2-of-3 {
    width: 100%;
  }

  .holler-form-column.col-3-of-4 {
    width: 100%;
  }

  .holler-form-column {
    padding-right: 0;
  }
}
/*.clearfix{clear: both}*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.holler-media-uploader .droppable-handler {
  border: dashed 5px rgba(16, 38, 64, 0.5);
  text-align: center;
  padding: 40px;
}
.holler-media-uploader .droppable-handler.dragover {
  border-color: #0075ff;
  background: rgba(0, 117, 255, 0.2);
}
.holler-media-uploader #uploading-files {
  margin-top: 10px;
}

.text-align.right {
  text-align: right;
}

#bulk-edit {
  margin-top: 40px;
}
#bulk-edit #edit-fields {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.spinning {
  -webkit-animation: spinning 4s linear infinite;
  -moz-animation: spinning 4s linear infinite;
  animation: spinning 4s linear infinite;
}

@-moz-keyframes spinning {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spinning {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinning {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.holler-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}
.holler-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.holler-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 0 !important;
}
.holler-switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.holler-switch input:checked + .slider {
  background-color: #2196F3;
}
.holler-switch input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}
.holler-switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.holler-switch .slider.round {
  border-radius: 34px;
}
.holler-switch .slider.round:before {
  border-radius: 50%;
}
.holler-switch span:not(.slider) {
  font-weight: 500;
  color: white;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}
.holler-switch span:not(.slider).on {
  display: none;
  left: 7px;
}
.holler-switch span:not(.slider).off {
  right: 7px;
}
.holler-switch input:checked ~ span.on {
  display: block;
}
.holler-switch input:checked ~ span.off {
  display: none;
}

.holler-picker {
  position: relative;
  border: 1px solid #8c8f94;
  border-radius: 5px;
}
.holler-picker.options-visible {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.holler-picker.options-visible .holler-picker-options {
  display: block;
}
.holler-picker .holler-picker-selected {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.holler-picker .holler-picker-selected .holler-picker-search {
  flex-grow: 1;
  border: none;
}
.holler-picker .holler-picker-selected .holler-picker-search:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.holler-picker .holler-picker-selected .holler-picker-item {
  padding: 5px 5px 5px 10px;
  background: rgba(16, 38, 64, 0.1);
  border-radius: 3px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.holler-picker .holler-picker-selected .holler-picker-item.is-invalid {
  background: rgba(233, 31, 79, 0.1);
  color: #c2133d;
}
.holler-picker .holler-picker-selected .holler-picker-item .holler-picker-item-delete {
  display: inline-block;
  padding: 3px;
  line-height: 1;
  cursor: pointer;
}
.holler-picker .holler-picker-selected .holler-picker-item .holler-picker-item-delete:hover {
  color: #102640;
  font-weight: bold;
}
.holler-picker:focus-within {
  border-color: #2271b1;
  box-shadow: 0 0 0 1px #2271b1;
  outline: 2px solid transparent;
}
.holler-picker .holler-picker-options {
  position: fixed;
  z-index: 9999;
  display: none;
  border-top: none;
  border-color: #2271b1;
  box-shadow: 0 0 0 1px #2271b1;
  outline: 2px solid transparent;
  border-radius: 0 0 5px 5px;
  background: #FFF;
  overflow-y: auto;
}
.holler-picker .holler-picker-options .holler-picker-no-options {
  font-size: 14px;
  padding: 5px 10px;
}
.holler-picker .holler-picker-options .holler-picker-option {
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.holler-picker .holler-picker-options .holler-picker-option:hover {
  color: #102640;
  background: rgba(0, 117, 255, 0.07);
}

p.holler-notice {
  padding: 10px 20px;
  font-size: 14px;
  background: rgba(0, 117, 255, 0.1);
  color: #102640;
  border-radius: 5px;
}
p.holler-notice svg {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=elements.css.map */
