#show-certain-pages, #show-email-options, #hwp-until-datepicker, #custom-email-options, #default-email-options, #mc_url, #ck_id {
	display: none;
}

.hwp-datepicker {
	margin: 10px 0 0;
}

.hwp-textarea {
	display: block;
    margin: 12px 0 0;
    height: 4em;
    width: 100%;
}

span.mc-description {
	font-size: 10px;
	display: none;
	clear: both;
}

/* For preview */

#hwp-notification-box {
	opacity: 1;
	position: relative;
	z-index: 99997;
	width: 100%;
	height: auto;
	border-radius: 3px;
	padding: 15px;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #eee;
	-webkit-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.06);
	-moz-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.06);
	box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.06);
	transition: all .3s;
	box-sizing: border-box;
}

#hwp-note-optin {
    margin-top: 10px;
}

#hwp-notification-box p {
	margin-bottom: 5px;
}

#hwp-notification-box img, #hwp-notification-box iframe {
	display: block;
	max-width: 100%;
	height: auto;
}

#hwp-first-row {
	clear: none;
}

#hwp-notification-box .avatar {
	border-radius: 100px;
	margin-right: 15px;
	float: left;
}

.hwp-box-rows {
	overflow: hidden;
}

.hwp-row {
    overflow: hidden;
    background: #fafafa;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 10px;
    clear: both;
}

.hwp-visitor-row {
	text-align: right;
	float: right;
	background-color: #1191cb;
	color: #fff;
}

.hwp-away-msg {
	font-size: 11px;
	display: block;
	clear: both;
}

.hwp-row.hwp-email-row, .hwp-row.hwp-text {
	padding: 0;
	background-color: #fff;
	position: relative;
}

#hwp-email-input {
	border: 1px solid #1191cb;
	border-radius: 3px 0 0 3px;
	width: 80%;
	height: 40px;
	margin: 0;
    border: none;
    background: #eee;
    box-shadow: none;
	box-sizing: border-box;
}

#hwp-text-input {
	border-radius: 3px 0 0 3px;
	height: 40px;
	margin: 0;
    border: none;
    background: #eee;
    box-shadow: none;
	box-sizing: border-box;
	width: 100%;
}

#hwp-submit-text {
	position: absolute;
	right: 10px;
	top: 7px;
	font-size: 16px;
	color: #999;
	cursor: pointer;
}

.hwp-email-btn {
	width: 20%;
	height: 40px;
	background-color: #1191cb;
	color: #fff;
	border-radius: 0 3px 3px 0;
	border: none;
	float: right;
	cursor: pointer;
	padding: 0;
}

.hwp-hide {
	display: none;
	opacity: 0;
	-moz-transform: translateX(0px) translateY(15px);
	-webkit-transform: translateX(0px) translateY(15px);
	-o-transform: translateX(0px) translateY(15px);
	-ms-transform: translateX(0px) translateY(15px);
	transform: translateX(0px) translateY(15px);
}

span#hwp-powered-by a {
    font-size: 10px;
    float: right;
    color: #777;
    text-decoration: underline;
    margin-top: 5px;
}

/* List */

.hwp-list .hwp-item {
	display: flex;
	border: 1px solid #e5e5e5;
	border-bottom: none;
	background-color: #fafafa;
	align-items: center;
	color: #32373c;
}

.hwp-item a {
	text-decoration: none;
}

.hwp-list .hwp-item:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.hwp-item .hwp-col {
 	flex: 1;
 	font-size: 13px;
 	line-height: 1.4em;
 	align-items: center;
 	padding: 8px 12px;
}

.hwp-list .hwp-list-header {
	margin-bottom: 0;
	background-color: #fff;
}

.hwp-item-title {
	font-weight: bold;
}

 /* Toggle switch */

 /* The switch - the box around the slider */
.hwp-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.hwp-switch input {display:none;}

/* The slider */
.hwp-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.hwp-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .hwp-slider {
  background-color: #2196F3;
}

input:focus + .hwp-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .hwp-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input.hwp-number-input {
	width: 50px;
}

/* Rounded hwp-sliders */
.hwp-slider.hwp-round {
  border-radius: 34px;
}

.hwp-slider.hwp-round:before {
  border-radius: 50%;
}

/*** Single ***/

.hwp-title-input {
	padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: none;
    margin: 0 0 3px;
    background-color: #fff;
}

.hwp-metabox {
	background-color: #fafafa;
	border: 1px solid #e5e5e5;
    padding: 15px;
    margin: 10px 0;
}