$primary-blue: rgb(0, 117, 255);
$primary-blue-60: rgba(0, 117, 255, 0.60);
$primary-blue-50: rgba(0, 117, 255, 0.50);
$primary-blue-20: rgba(0, 117, 255, 0.20);
$primary-blue-10: rgba(0, 117, 255, 0.10);
$primary-blue-7: rgba(0, 117, 255, 0.07);
$primary-blue-2: rgba(0, 117, 255, 0.02);
$primary-dark: rgb(16, 38, 64);
$primary-dark-50: rgba(16, 38, 64, 0.5);
$primary-dark-30: rgba(16, 38, 64, 0.3);
$primary-dark-15: rgba(16, 38, 64, 0.15);
$primary-dark-10: rgba(16, 38, 64, 0.10);
$primary-dark-5: rgba(16, 38, 64, 0.05);
$error-red: rgb(233, 31, 79);
$error-red-50: rgba(233, 31, 79, 0.5);
$error-red-10: rgba(233, 31, 79, 0.10);
$secondary-purple: rgb(108, 25, 173);
$alert-yellow-50: rgba(255, 238, 88, 0.50);
$alert-yellow: rgb(255, 238, 88);
$benchmark-orange: rgb(245, 129, 21);
$benchmark-orange-50: rgba(245, 129, 21, 0.50);
$benchmark-orange-25: rgba(245, 129, 21, 0.25);
$action-green: rgb(158, 206, 56);
$action-green-50: rgba(158, 206, 56, 0.5);
$box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);
$background-color: #F6F9FB;

#wpcontent {
  padding: 0;
}

#wpfooter {
  display: none;
}

table.display-conditions-grid {

  box-sizing: border-box;
  border-collapse: collapse;
  width: 100%;

  .picker-here{
    margin-top: 10px;
  }

  .rules {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;

    .rule {
      padding-bottom: 10px;
      border-bottom: 1px solid $primary-dark-15;
    }

    select {
      max-width: 100%;
    }
  }

  th {
    text-align: left;
    font-size: 16px;
    padding: 30px;
    border-right: 1px solid $primary-dark-15;
  }

  td {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
  }

  tr:not(:last-child){
    td,th {
      border-bottom: 1px solid $primary-dark-15;
    }
  }
}

#triggers {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $primary-dark-15;
    border-radius: 5px;
    padding: 10px 10px 10px 15px;

    input[type=number]{
      width: 60px;
    }

    .controls{
      display: none;
    }

    &.enabled {
      .controls {
        display: block;
      }

      .name{
        opacity: 1;
      }
    }

    &:hover {
      box-shadow: $box-shadow;
    }

    .name {
      font-size: 16px;
      font-weight: 500;
      opacity: 0.6;
    }

    button{
      justify-self: flex-end;
      margin-left: auto;
    }
  }
}

#integrations-here{
  box-sizing: content-box;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  grid-auto-flow: row;

  .integration {

    cursor: pointer;

    &:hover{
      .integration-name{
        font-weight: bold;
        color: $primary-blue;
      }

      .icon {
        background: $primary-blue-2;
        box-shadow: $box-shadow;
      }
    }

    .integration-name {
      text-align: center;
    }

    .icon {
      display: flex;
      align-items: center;
      padding: 0 20px;
      border-radius: 5px;
      border: 1px solid $primary-dark-15;
      height: 110px;
    }

  }
}

#templates {

  box-sizing: border-box;

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 30px;
  grid-auto-flow: row;
  padding: 30px;

  .template {
    box-sizing: content-box;
    cursor: pointer;

    .template-name{
      text-align: center;
    }

    .preview-wrap {
      overflow: hidden;
      border-radius: 5px;
      height: 250px;
      border: 1px solid $primary-dark-15;
      background: $primary-blue-2;

      .preview {
        box-sizing: content-box;

        width: 100%;
        height: 100%;

        position: relative;
        zoom: 40%;

        .holler-box {
          .holler-box-overlay {
            position: absolute;
          }

          .holler-box-modal {
            position: absolute;
          }
        }
      }
    }

    &:hover {

      .template-name{
        font-weight: bold;
        color: $primary-blue;
      }

      .preview-wrap {
        box-shadow: $box-shadow;
        transition: 0.4s;

        .preview {
          zoom: 45%;
        }
      }
    }


  }

}

#holler-app {

  position: fixed;
  top: 32px;
  right: 0;
  bottom: 0;
  left: 160px;
  display: flex;
  flex-direction: column;

  #header {
    background: #ffffff;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid $primary-dark-10;
    align-items: center;

    .holler {
      padding: 0 10px;
      border-right: 1px solid $primary-dark-10;
      height: 100%;
      display: flex;
      align-items: center;
      svg {
        height: 30px;
        width: 30px;
      }
    }

    .inside-header{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      align-items: center;

      h1.holler-title {
        margin: 0;
        font-size: 20px;
        font-weight: 400;

        &:hover{
          b {
            color: $primary-blue;
          }
        }
      }
    }
  }

  #editor {
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: stretch;

    #preview {
      box-sizing: border-box;
      padding: 20px;
      position: relative;
      width: 100%;
      overflow: hidden;

      .holler-box {
        .holler-box-overlay {
          position: absolute;
          top: 20px;
          left: 20px;
          right: 20px;
          bottom: 20px;
          border-radius: 5px;
        }

        .holler-box-modal {
          position: absolute;
        }
      }
    }

    .control-wrap {
      flex-shrink: 0;
      width: 360px;
      background: #ffffff;
      border-right: 1px solid $primary-dark-10;
      overflow: auto;

      #controls {

        display: flex;
        flex-direction: column;

        .control-button{
          border: none;
          border-bottom: 1px solid $primary-dark-10;
          background: #FFFFFF;
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          padding: 12px 10px 12px 20px;
          font-size: 14px;
          font-weight: 500;

          &:hover {
            background-color: $primary-dark-5;
          }


        }

        .control-group {
          border-bottom: 1px solid $primary-dark-10;

          .control-group-header {
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            &:hover {
              background-color: $primary-dark-5;
            }

            .control-group-name {
              padding: 12px 0 12px 20px;
              font-size: 14px;
              font-weight: 500;
            }

            button.toggle-indicator {
              background: transparent;
              border: none;

              &:hover {
                background: $primary-dark-5;
              }

              &:focus {
                box-shadow: 0 0 0 1px $primary-blue, 0 0 2px 1px $primary-blue-60;
                outline: 1px solid transparent;
              }

              &::before {
                display: inline-block;
                font: normal 20px/1 dashicons;
                speak: never;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-decoration: none;
              }
            }

            button {
              &.toggle-indicator::before {
                content: "\f140";
              }
            }
          }

          &.open {
            .controls {
              display: flex;
            }

            button.toggle-indicator::before {
              content: "\f142";
            }
          }

          .controls {
            display: none;
            padding: 20px;
            flex-direction: column;
            gap: 10px;

            .control {
              display: flex;
              justify-content: space-between;
              align-items: center;

              label {
                font-size: 14px;
              }
            }


            #integrations {

              display: flex;
              flex-direction: column;
              gap: 10px;

              .integration {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                border: 1px solid $primary-dark-15;
                border-radius: 5px;
                padding: 5px 5px 5px 15px;

                &:hover {
                  box-shadow: $box-shadow;
                }

                > .icon {

                  display: flex;
                  align-items: center;

                  > svg {
                    height: 20px;
                    width: 20px;
                  }
                }

                .name {
                  font-size: 16px;
                }

                button{
                  justify-self: flex-end;
                  margin-left: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
