$primary-blue: rgb(0, 117, 255);
$primary-blue-60: rgba(0, 117, 255, 0.60);
$primary-blue-50: rgba(0, 117, 255, 0.50);
$primary-blue-20: rgba(0, 117, 255, 0.20);
$primary-blue-10: rgba(0, 117, 255, 0.10);
$primary-blue-7: rgba(0, 117, 255, 0.07);
$primary-blue-2: rgba(0, 117, 255, 0.02);
$primary-dark: rgb(16, 38, 64);
$primary-dark-50: rgba(16, 38, 64, 0.5);
$primary-dark-30: rgba(16, 38, 64, 0.3);
$primary-dark-15: rgba(16, 38, 64, 0.15);
$primary-dark-10: rgba(16, 38, 64, 0.10);
$primary-dark-5: rgba(16, 38, 64, 0.05);
$error-red: rgb(233, 31, 79);
$error-red-50: rgba(233, 31, 79, 0.5);
$error-red-10: rgba(233, 31, 79, 0.10);
$secondary-purple: rgb(108, 25, 173);
$alert-yellow-50: rgba(255, 238, 88, 0.50);
$alert-yellow: rgb(255, 238, 88);
$benchmark-orange: rgb(245, 129, 21);
$benchmark-orange-50: rgba(245, 129, 21, 0.50);
$benchmark-orange-25: rgba(245, 129, 21, 0.25);
$action-green: rgb(158, 206, 56);
$action-green-50: rgba(158, 206, 56, 0.5);
$box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.05);
$background-color: #F6F9FB;

#wpcontent {
  padding: 0;
}

#wpfooter{
  display: none;
}

#app {

  position: fixed;
  top: 32px;
  right: 0;
  bottom: 0;
  left: 160px;
  display: flex;
  flex-direction: column;

  #header {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $primary-dark-10;
    padding: 20px;
    align-items: center;

    h1.holler-title {
      margin: 0;
      font-size: 20px;
    }
  }

  #editor {
    height: 100%;
    display: flex;
    align-items: stretch;

    #preview {
      box-sizing: border-box;
      padding: 20px;
      position: relative;
      width: 100%;

      .holler-box {
        .holler-box-overlay {
          position: absolute;
          top: 20px;
          left: 20px;
          right: 20px;
          bottom: 20px;
          border-radius: 5px;
        }

        .holler-box-modal {
          position: absolute;
        }
      }
    }

    #controls {
      background: #ffffff;
      width: 360px;
      flex-shrink: 0;
      border-left: 1px solid $primary-dark-10;
      display: flex;
      flex-direction: column;

      .control-group {
        border-bottom: 1px solid $primary-dark-10;

        .control-group-header{
          display: flex;
          justify-content: space-between;
          cursor: pointer;

          &:hover {
            background-color: $primary-dark-5;
          }

          .control-group-name {
            padding: 12px 0 12px 20px;
            font-size: 14px;
            font-weight: 500;
          }

          button.toggle-indicator{
            background: transparent;
            border: none;

            &:hover{
              background: $primary-dark-5;
            }

            &:focus {
              box-shadow: 0 0 0 1px $primary-blue, 0 0 2px 1px $primary-blue-60;
              outline: 1px solid transparent;
            }

            &::before {
              display: inline-block;
              font: normal 20px/1 dashicons;
              speak: never;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              text-decoration: none;
            }
          }

          button {
            &.toggle-indicator::before {
              content: "\f140";
            }
          }
        }

        &.open {
          .controls{
            display: flex;
          }

          button.toggle-indicator::before {
            content: "\f142";
          }
        }

        .controls {
          display: none;
          padding: 20px;
          flex-direction: column;
          gap: 10px;

          .control {
            display: flex;
            justify-content: space-between;
            align-items: center;

            label {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
