body.holler-box-blurred {
  filter: blur(4px);
}

.holler-box .holler-box-overlay {
  position: fixed;
  background: #333333;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.holler-box .display-flex {
  display: flex;
  gap: 20px;
}
.holler-box .holler-box-modal {
  min-width: 440px;
  position: fixed;
  background: #ffffff;
  padding: 30px;
  box-sizing: border-box;
}
.holler-box .holler-box-modal.notification-closed {
  cursor: pointer;
  box-sizing: border-box;
  position: fixed;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0075ff;
  box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.15);
  min-width: 0 !important;
  padding: 0 !important;
}
.holler-box .holler-box-modal.notification-closed svg {
  height: 30px;
  width: 30px;
}
.holler-box .holler-box-modal img {
  display: block;
  max-width: 500px;
}
.holler-box .holler-box-modal .holler-box-modal-title {
  width: max-content;
  margin: 0;
  line-height: 1;
  font-size: 36px;
  font-weight: bold;
}
.holler-box .holler-box-modal .holler-box-modal-content * {
  font-size: 18px;
}
.holler-box .holler-box-modal .holler-box-modal-content h2 {
  font-size: 32px;
}
.holler-box .holler-box-modal .holler-box-modal-content h3 {
  font-size: 24px;
}
.holler-box .holler-box-modal .holler-box-modal-close {
  cursor: pointer;
  padding: 0;
  line-height: 0.5;
  font-weight: bold;
  font-size: 22px;
  background: none;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
.holler-box .holler-box-modal.top-left {
  top: 20px;
  left: 20px;
}
.holler-box .holler-box-modal.top-center {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.holler-box .holler-box-modal.top-right {
  top: 20px;
  right: 20px;
}
.holler-box .holler-box-modal.center-left {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.holler-box .holler-box-modal.center-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.holler-box .holler-box-modal.center-right {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.holler-box .holler-box-modal.bottom-left {
  bottom: 20px;
  left: 20px;
}
.holler-box .holler-box-modal.bottom-center {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.holler-box .holler-box-modal.bottom-right {
  bottom: 20px;
  right: 20px;
}
.holler-box.holler-notification-box.with-button .holler-button-cta {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.holler-box.holler-notification-box.with-button .holler-button-cta .holler-box-button {
  border-radius: 5px;
  font-size: 18px;
}
.holler-box.holler-notification-box.with-form form.holler-box-form {
  margin-top: 10px;
  display: flex;
  width: 100%;
  min-width: 0;
  gap: 0;
}
.holler-box.holler-notification-box.with-form form.holler-box-form input {
  width: 100%;
  background: rgba(16, 38, 64, 0.05);
  border: none;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}
.holler-box.holler-notification-box.with-form form.holler-box-form button {
  border-radius: 0 5px 5px 0;
  font-size: 18px;
}
.holler-box.holler-notification-box .holler-box-modal {
  width: 330px;
  min-width: 330px;
  padding: 20px 10px 10px 10px;
  box-shadow: 5px 5px 30px 0 rgba(24, 45, 70, 0.15);
  border-radius: 5px;
}
.holler-box.holler-notification-box .holler-box-modal .display-flex {
  align-items: flex-start;
  gap: 10px;
}
.holler-box.holler-notification-box .holler-box-modal img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.holler-box.holler-notification-box .holler-box-modal .holler-box-modal-content {
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 117, 255, 0.07);
  border-radius: 5px;
}
.holler-box.holler-notification-box .holler-box-modal .holler-box-modal-content p {
  font-size: 16px;
  margin: 0.8em 0;
  line-height: 1.1;
}
.holler-box.holler-notification-box .holler-box-modal .holler-box-modal-content p:first-child {
  margin-top: 0;
}
.holler-box.holler-notification-box .holler-box-modal .holler-box-modal-content p:last-child {
  margin-bottom: 0;
}
.holler-box.holler-popup-image-left .holler-box-modal {
  padding: 0;
}
.holler-box.holler-popup-image-left .display-flex {
  display: flex;
  align-items: flex-end;
}
.holler-box.holler-popup-image-left .display-flex .left img {
  display: block;
}
.holler-box.holler-popup-image-left .display-flex .right {
  align-self: flex-start;
  padding: 30px;
}
.holler-box.holler-popup-form-below .holler-box-modal {
  padding: 0;
}
.holler-box.holler-popup-form-below .display-flex {
  padding: 20px;
  align-items: flex-end;
  justify-content: space-between;
}
.holler-box.holler-popup-form-below .display-flex .left img {
  display: block;
}
.holler-box.holler-popup-form-below .holler-box-form {
  padding: 20px;
  background: #ddd;
}
.holler-box.holler-popup-progress-bar .left {
  min-width: 150px;
}
.holler-box.holler-popup-image-beside-text-top .left {
  min-width: 200px;
}
.holler-box.holler-popup-image-beside-text-top .display-flex {
  align-items: flex-end;
}
.holler-box button.holler-box-button {
  font-size: 20px;
  padding: 10px 16px;
  border-radius: 0;
  background: #2196F3;
  color: #ffffff;
  font-weight: bold;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}
.holler-box button.holler-box-button:disabled {
  opacity: 0.8;
}
.holler-box form.holler-box-form {
  display: flex;
  gap: 10px;
  align-items: stretch;
  min-width: 550px;
}
.holler-box form.holler-box-form.vertical {
  flex-direction: column;
  min-width: 300px;
}
.holler-box form.holler-box-form input.holler-box-input {
  border-radius: 0;
  background: #ffffff;
  padding: 6px 16px;
  font-size: 18px;
  width: 100%;
  border: 1px solid rgba(16, 38, 64, 0.3);
  line-height: 2;
  min-height: 30px;
  box-sizing: border-box;
  min-width: 0;
}
.holler-box form.holler-box-form input.holler-box-input::placeholder {
  color: #cccccc;
}
.holler-box form.holler-box-form input.holler-box-input:-ms-input-placeholder {
  color: #cccccc;
}

/*# sourceMappingURL=popups.css.map */
